.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-box {
  max-width: 10em;
  min-height: 11em;
  background-color: rgba(30, 33, 43, 0.5);
  border-radius: 20px;
  padding: 1em;
  margin: 1em;
}

.skills-box h2 {
  font-size: 1em;
}

.skills-box p {
  font-size: 0.8em;
}

#skills button {
  background-color: rgba(30, 33, 43, 0.5);
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #88c1cf;
  margin-top: 30px;
  padding: 20px;
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: 0;
}

#skills button:hover {
  letter-spacing: 5px;
  box-shadow: 0px 0px 20px rgb(108, 210, 250);
  border: none;
}

.skill-list {
  text-align: left;
  font-size: large;
}

.skill-list-active {
  transition: width 2s linear 1s;
}

.skill-category {
  font-style: bold;
}
